In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
pd.set_option('display.max_rows' , None)
pd.set_option('display.max_columns' , None)

In [9]:
df = pd.read_excel('flats.xlsx')
df.sample(5)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
2687,3 BHK Flat in Sector 78 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Umang Monsoon Breeze,1.15 Crore,"₹ 5,284/sq.ft.",Super Built up area 2176(202.16 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,"Servant Room,Others","Sector 78 Gurgaon, Gurgaon, Haryana",9th of 12 Floors,NaN,5 to 10 Year Old,"['Proposed Metro Station', 'Mahapal Shing', 'N...",We are the proud owners of this 3 bhk apartmen...,NaN,"['Security / Fire Alarm', 'Intercom Facility',...","['Environment4 out of 5', 'Safety4 out of 5', ...",A68942872
377,3 BHK Flat in Heritage City,https://www.99acres.com/3-bhk-bedroom-apartmen...,Unitech Heritage City,3.63 Crore,"₹ 14,500/sq.ft.",Carpet area: 2500 (232.26 sq.m.),3 Bedrooms,3 Bathrooms,1 Balcony,"Store Room,Servant Room","Heritage City, Gurgaon, Haryana",11st of 11 Floors,NaN,10+ Year Old,"['Mg road metro station', 'Iffco chowk metro s...",It is one of the older colonies in gurgaon. Lo...,NaN,"['Private Garden / Terrace', 'Lift(s)', 'Maint...","['Environment5 out of 5', 'Lifestyle5 out of 5...",H70117470
2802,1 BHK Flat in Palam Vihar Extension,https://www.99acres.com/1-bhk-bedroom-apartmen...,Palam Vihar Extension West Zone RWA,20 Lac,"₹ 4,000/sq.ft.",Carpet area: 500 (46.45 sq.m.),1 Bedroom,1 Bathroom,1 Balcony,Others,"Palam Vihar Extension, Gurgaon, Haryana",1st of 4 Floors,NaN,5 to 10 Year Old,"['Palam triangle', 'Palam Vihar Vyapar kendra'...","It's near to main road, 24hrs boring water,","['1 Bed', '1 Wardrobe', '1 Fan', '1 Geyser', '...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E...",V62809262
82,2 BHK Flat in Sector 86 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Pyramid Elite,46 Lac,₹ 79/sq.ft.,Carpet area: 58141 (5401.48 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Sector 86 Gurgaon, Gurgaon, Haryana",Ground of 14 Floors,NaN,Under Construction,"['V3S Sapphire Ninety Mall', 'Sector 86 Road',...",Near to dwarka expressway\nNear to airport,[],"['Intercom Facility', 'Lift(s)', 'Park']","['Environment5 out of 5', 'Safety4.5 out of 5'...",M68651514
1546,4 BHK Flat in Sector 81 Gurgaon,https://www.99acres.com/4-bhk-bedroom-apartmen...,Bestech Park View Grand Spa4.3 ★,4.7 Crore,"₹ 6,786/sq.ft.",Super Built up area 6926(643.45 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"1908, Sector 81 Gurgaon, Gurgaon, Haryana",19th of 21 Floors,North,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH-8, IMT Manesar', 'Dwa...",Semi furnished 4bhk 6926sqft penthouse with pe...,"['4 Wardrobe', '1 Exhaust Fan', '4 Geyser', '4...","['Security / Fire Alarm', 'Power Back-up', 'Pr...","['Green Area5 out of 5', 'Construction5 out of...",R61758448

In [10]:
# some rows have not enough information of feature so that have been removed in excel sheet earlier
df.shape

(3008, 20)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3008 entries, 0 to 3007
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3008 non-null   object
 1   link             3008 non-null   object
 2   society          3007 non-null   object
 3   price            3007 non-null   object
 4   area             2996 non-null   object
 5   areaWithType     3008 non-null   object
 6   bedRoom          3008 non-null   object
 7   bathroom         3008 non-null   object
 8   balcony          3008 non-null   object
 9   additionalRoom   1694 non-null   object
 10  address          3002 non-null   object
 11  floorNum         3006 non-null   object
 12  facing           2127 non-null   object
 13  agePossession    3007 non-null   object
 14  nearbyLocations  2913 non-null   object
 15  description      3008 non-null   object
 16  furnishDetails   2203 non-null   object
 17  features         2594 non-null   object
 18  rating           2676 non-null   object
 19  property_id      3008 non-null   object
dtypes: object(20)
memory usage: 470.1+ KB

In [12]:
# duplicate value
df.duplicated().sum()

np.int64(0)

- there is no duplicate value in dataset

In [14]:
# link and property id is not relevent column for the model
df.drop(columns = ['property_id','link'], inplace = True)

In [15]:
# missing values
df.isnull().sum()

property_name         0
society               1
price                 1
area                 12
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom     1314
address               6
floorNum              2
facing              881
agePossession         1
nearbyLocations      95
description           0
furnishDetails      805
features            414
rating              332
dtype: int64

- there is some missing values in dataset

In [16]:
# rename the area column to price per sq feet
df.rename(columns = {'area':'price_per_sqft'}, inplace = True)

In [ ]:
df['society'].value_counts()

In [18]:
df['society'].value_counts().shape

(636,)

In [21]:
# there is problem in society column that
# 1) some names are in capital letter and some name in small letter
# 2) some name has rating also in thier name
import re
df['society'] = df['society'].apply(lambda name : re.sub(r'\d+(\.\d+)?\s?★' , '' , str(name)).strip()).str.lower()

In [22]:
df['society'].value_counts().shape

(602,)

In [24]:
df['price'].value_counts()

price
1.25 Crore          79
1.1 Crore           61
1.4 Crore           60
1.2 Crore           59
1.5 Crore           59
90 Lac              58
1.3 Crore           57
95 Lac              53
2 Crore             51
1.75 Crore          47
1 Crore             46
1.6 Crore           43
1.35 Crore          41
1.9 Crore           40
1.55 Crore          40
75 Lac              38
1.65 Crore          38
1.7 Crore           37
1.8 Crore           37
80 Lac              36
2.2 Crore           34
1.15 Crore          33
50 Lac              33
85 Lac              31
1.45 Crore          31
1.05 Crore          30
60 Lac              29
40 Lac              29
2.5 Crore           29
2.1 Crore           26
45 Lac              26
65 Lac              25
35 Lac              23
1.85 Crore          23
2.35 Crore          23
3 Crore             22
70 Lac              21
2.25 Crore          20
55 Lac              20
3.5 Crore           19
2.3 Crore           18
2.4 Crore           18
30 Lac              17
2.65 Crore          16
2.6 Crore           15
1.38 Crore          15
2.45 Crore          14
3.4 Crore           14
2.15 Crore          14
82 Lac              13
3.25 Crore          13
92 Lac              13
38 Lac              13
78 Lac              13
2.7 Crore           13
1.32 Crore          13
5 Crore             12
42 Lac              12
1.95 Crore          12
1.42 Crore          12
2.8 Crore           12
25 Lac              11
88 Lac              11
Price on Request    11
32 Lac              11
1.08 Crore          11
1.28 Crore          10
26 Lac              10
87 Lac              10
1.78 Crore          10
1.12 Crore          10
2.55 Crore          10
28 Lac              10
2.85 Crore           9
1.72 Crore           9
1.68 Crore           9
3.45 Crore           9
4 Crore              9
2.05 Crore           9
99 Lac               9
36 Lac               9
22 Lac               9
48 Lac               8
20 Lac               8
2.75 Crore           8
4.25 Crore           8
86 Lac               8
27 Lac               8
1.26 Crore           8
6.5 Crore            8
1.54 Crore           8
1.18 Crore           8
1.76 Crore           8
3.2 Crore            8
6 Crore              8
98 Lac               8
56 Lac               8
39 Lac               7
2.9 Crore            7
72 Lac               7
97 Lac               7
1.27 Crore           7
46 Lac               7
1.36 Crore           7
3.7 Crore            7
1.99 Crore           7
1.19 Crore           7
1.02 Crore           7
1.29 Crore           7
3.3 Crore            7
79 Lac               7
1.16 Crore           6
2.95 Crore           6
1.14 Crore           6
96 Lac               6
3.05 Crore           6
1.51 Crore           6
1.34 Crore           6
1.13 Crore           6
71.5 Lac             6
1.07 Crore           6
5.5 Crore            6
1.59 Crore           6
1.98 Crore           6
21 Lac               6
54 Lac               6
1.01 Crore           6
43 Lac               6
37 Lac               6
3.35 Crore           6
4.1 Crore            6
1.49 Crore           6
1.39 Crore           6
3.65 Crore           6
3.9 Crore            6
1.24 Crore           5
6.75 Crore           5
1.33 Crore           5
29 Lac               5
1.47 Crore           5
2.22 Crore           5
1.69 Crore           5
64 Lac               5
1.91 Crore           5
4.5 Crore            5
3.75 Crore           5
1.43 Crore           5
1.82 Crore           5
1.83 Crore           5
49 Lac               5
1.92 Crore           5
66 Lac               5
24 Lac               5
1.93 Crore           5
68 Lac               5
1.62 Crore           5
1.79 Crore           5
2.29 Crore           5
93 Lac               5
2.78 Crore           5
2.12 Crore           5
1.44 Crore           5
1.17 Crore           5
1.23 Crore           4
58 Lac               4
41.5 Lac             4
1.22 Crore           4
1.48 Crore           4
1.71 Crore           4
6.15 Crore           4
7 Crore              4
4.85 Crore           4
4.3 Crore            4
1.66 Crore           4
31 Lac               4
3.1 Crore            4
67 Lac               4
36.5 Lac             4
33 Lac               4
73 Lac               4
89 Lac               4
28.5 Lac             4
1.58 Crore           4
5.9 Crore            4
5.6 Crore            4
2.09 Crore           4
1.31 Crore           4
74 Lac               4
1.37 Crore           4
1.52 Crore           4
5.25 Crore           4
1.73 Crore           4
62 Lac               4
3.6 Crore            4
1.77 Crore           4
1.64 Crore           4
3.95 Crore           4
4.75 Crore           3
3.8 Crore            3
1.04 Crore           3
2.28 Crore           3
2.03 Crore           3
1.09 Crore           3
2.08 Crore           3
1.67 Crore           3
1.57 Crore           3
2.36 Crore           3
91 Lac               3
4.8 Crore            3
2.51 Crore           3
3.15 Crore           3
2.24 Crore           3
52 Lac               3
69 Lac               3
83 Lac               3
1.21 Crore           3
2.01 Crore           3
94 Lac               3
72.5 Lac             3
5.8 Crore            3
1.63 Crore           3
3.85 Crore           3
1.41 Crore           3
84 Lac               3
34 Lac               3
2.33 Crore           3
51 Lac               3
2.79 Crore           3
1.88 Crore           3
64.5 Lac             3
3.49 Crore           3
4.2 Crore            3
47 Lac               3
56.2 Lac             2
3.55 Crore           2
7.5 Crore            2
27.1 Lac             2
11 Crore             2
4.55 Crore           2
2.87 Crore           2
2.26 Crore           2
87.5 Lac             2
52.56 Lac            2
2.14 Crore           2
2.99 Crore           2
1.56 Crore           2
2.58 Crore           2
2.57 Crore           2
5.2 Crore            2
5.7 Crore            2
2.13 Crore           2
1.46 Crore           2
8 Crore              2
8.5 Crore            2
2.17 Crore           2
59 Lac               2
3.29 Crore           2
71 Lac               2
6.2 Crore            2
2.23 Crore           2
53.5 Lac             2
2.52 Crore           2
4.49 Crore           2
2.04 Crore           2
27.75 Lac            2
4.7 Crore            2
88.5 Lac             2
2.41 Crore           2
2.02 Crore           2
4.26 Crore           2
3.32 Crore           2
4.6 Crore            2
3.21 Crore           2
25.5 Lac             2
14 Crore             2
4.45 Crore           2
98.5 Lac             2
1.87 Crore           2
2.91 Crore           2
53 Lac               2
31.5 Lac             2
77.5 Lac             2
41 Lac               2
3.19 Crore           1
5.31 Crore           1
4.95 Crore           1
4.02 Crore           1
97.04 Lac            1
37.5 Lac             1
68.85 Lac            1
98.88 Lac            1
2.69 Crore           1
2.54 Crore           1
54.8 Lac             1
3.98 Crore           1
94.5 Lac             1
2.44 Crore           1
82.5 Lac             1
61 Lac               1
29.8 Lac             1
6.02 Crore           1
7.9 Crore            1
3.23 Crore           1
15 Crore             1
7.8 Crore            1
1.97 Crore           1
39.5 Lac             1
11.25 Crore          1
7.15 Crore           1
2.82 Crore           1
54.99 Lac            1
6.44 Crore           1
1.11 Crore           1
8.25 Crore           1
31.75 Lac            1
55.6 Lac             1
98.1 Lac             1
2.63 Crore           1
55.5 Lac             1
5.4 Crore            1
3.39 Crore           1
95.75 Lac            1
3.46 Crore           1
3.63 Crore           1
4.67 Crore           1
2.37 Crore           1
4.4 Crore            1
66.99 Lac            1
6.3 Crore            1
23 Lac               1
5.49 Crore           1
2.98 Crore           1
4.63 Crore           1
2.34 Crore           1
6.16 Crore           1
5.3 Crore            1
2.72 Crore           1
4.78 Crore           1
2.21 Crore           1
2.48 Crore           1
89.5 Lac             1
99.5 Lac             1
3.83 Crore           1
3.79 Crore           1
3.67 Crore           1
71.2 Lac             1
27.5 Lac             1
23.5 Lac             1
4.79 Crore           1
6.25 Crore           1
35.5 Lac             1
2.11 Crore           1
1.06 Crore           1
4.94 Crore           1
10.75 Crore          1
81 Lac               1
26.1 Lac             1
9.14 Crore           1
8.35 Crore           1
20.5 Lac             1
17.5 Lac             1
24.5 Lac             1
10 Crore             1
6.1 Crore            1
5.75 Crore           1
2.77 Crore           1
7.56 Crore           1
79.9 Lac             1
68.5 Lac             1
85.5 Lac             1
93.75 Lac            1
94.25 Lac            1
80.5 Lac             1
2.97 Crore           1
29.99 Lac            1
4.86 Crore           1
2.62 Crore           1
52.5 Lac             1
90.5 Lac             1
42.5 Lac             1
2.61 Crore           1
65.5 Lac             1
53.2 Lac             1
47.5 Lac             1
4.52 Crore           1
8.44 Crore           1
1.84 Crore           1
13.2 Crore           1
4.16 Crore           1
1.74 Crore           1
4.21 Crore           1
97.5 Lac             1
2.38 Crore           1
2.49 Crore           1
2.64 Crore           1
63.4 Lac             1
2.06 Crore           1
2.07 Crore           1
44 Lac               1
2.32 Crore           1
1.86 Crore           1
85.75 Lac            1
87.99 Lac            1
86.99 Lac            1
2.92 Crore           1
9.3 Crore            1
5.15 Crore           1
49.5 Lac             1
9.2 Crore            1
9.95 Crore           1
16 Lac               1
3.99 Crore           1
64.45 Lac            1
86.92 Lac            1
2.86 Crore           1
7.4 Crore            1
3.78 Crore           1
29.5 Lac             1
3.87 Crore           1
94.99 Lac            1
88.4 Lac             1
37.1 Lac             1
9 Crore              1
57 Lac               1
3.72 Crore           1
19 Lac               1
95.5 Lac             1
70.85 Lac            1
7.52 Crore           1
40.3 Lac             1
96.07 Lac            1
32.5 Lac             1
2.96 Crore           1
1.53 Crore           1
26.9 Lac             1
26.5 Lac             1
73.53 Lac            1
89.77 Lac            1
62.5 Lac             1
Name: count, dtype: int64

In [25]:
df[df['price']=='Price on Request']

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
25,5 BHK Flat in Sector 1 Gurgaon,the new people apartments,Price on Request,NaN,Built Up area: 4500 (418.06 sq.m.),5 Bedrooms,1 Bathroom,No Balcony,NaN,"Sector 1, Sector 1 Gurgaon, Gurgaon, Haryana",Ground of 1 Floors,NaN,undefined,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...",Best in class property available at sector 1 l...,NaN,NaN,NaN
1644,4 BHK Flat in Sector 50 Gurgaon,ss hibiscus,Price on Request,NaN,Carpet area: 4800 (445.93 sq.m.),4 Bedrooms,4 Bathrooms,3 Balconies,Servant Room,"Sector 50 Gurgaon, Gurgaon, Haryana",7th of 18 Floors,East,5 to 10 Year Old,"['Baani Square', 'SS Plaza', 'Good Earth City ...",4bedroom 4800sq.Ft middle floor apartment avai...,"['4 Fan', '8 Light', 'No AC', 'No Bed', 'No Ch...","['Lift(s)', 'Water purifier', 'Swimming Pool',...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
1972,1 BHK Flat in Sector 31 Gurgaon,raheja atlantis,Price on Request,NaN,Carpet area: 650 (60.39 sq.m.),1 Bedroom,1 Bathroom,1 Balcony,"Pooja Room,Study Room,Servant Room","Yes, Sector 31 Gurgaon, Gurgaon, Haryana",3rd of 15 Floors,East,0 to 1 Year Old,"['Huda Metro Station', 'Reliance Fresh, Indira...",It is my property and good condition and good ...,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4 out of 5', 'Construction4 out of..."
2054,2 BHK Flat in Sector 79 Gurgaon,supertech araville,Price on Request,NaN,Built Up area: 1295 (120.31 sq.m.),2 Bedrooms,2 Bathrooms,No Balcony,NaN,"Sector 79, Sector 79 Gurgaon, Gurgaon, Haryana",15th of 15 Floors,NaN,undefined,NaN,"2 bath, unfurnished, 15th floor (Of 18), super...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle3 out of 5..."
2357,2 BHK Flat in Sector 37D Gurgaon,the millennia 2,Price on Request,NaN,Carpet area: 552 (51.28 sq.m.),2 Bedrooms,1 Bathroom,1 Balcony,NaN,"Sector 37D Gurgaon, Gurgaon, Haryana",13rd of 13 Floors,NaN,undefined,"['Shri Balaji Hospital and Trauma Center', 'Sh...","1 bath, unfurnished, 13th floor (Of 13), at se...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
2522,2 BHK Flat in Sector 95A Gurgaon,the roselia 2,Price on Request,NaN,Carpet area: 593 (55.09 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",14th of 14 Floors,NaN,undefined,NaN,Best in class property available at sector 95a...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4.5 out of..."
2549,3 BHK Flat in Sector-2 Sohna,supertech hilltown,Price on Request,NaN,Built Up area: 1720 (159.79 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,NaN,"Sohna Sector 2,gurgaon, Sector-2 Sohna, Gurgao...",4th of 4 Floors,North-East,undefined,NaN,"3 bath, unfurnished, 4th floor (Of 4), overloo...",NaN,NaN,NaN
2640,2 BHK Flat in Sector 95A Gurgaon,the roselia 2,Price on Request,NaN,Carpet area: 593 (55.09 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",14th of 14 Floors,NaN,undefined,NaN,Best in class property available at sector 95a...,NaN,NaN,"['Environment5 out of 5', 'Safety5 out of 5', ..."
2950,3 BHK Flat in Sector 104 Gurgaon,godrej summit,Price on Request,NaN,Super Built up area 1647(153.01 sq.m.)Carpet a...,3 Bedrooms,3 Bathrooms,3 Balconies,NaN,"1402, Sector 104 Gurgaon, Gurgaon, Haryana",14th of 17 Floors,NaN,1 to 5 Year Old,"['MG Road Metro Station', 'The Esplanade Mall'...",We are the proud owners of this 3 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Management3 out of 5', 'Green Area4.5 out of..."
2963,4 BHK Flat in Gwal Pahari,krrish provence estate,Price on Request,NaN,Built Up area: 5800 (538.84 sq.m.),4 Bedrooms,5 Bathrooms,1 Balcony,NaN,"Gwal Pahari, Gurgaon, Haryana",17th of 24 Floors,NaN,Under Construction,"['Tniy Toons School', 'Pathways School Gurgoan...",Residential apartment for sell.Located on 17th...,NaN,NaN,NaN
2964,4 BHK Flat in Sector 95 Gurgaon,sidhartha ncr one phase,Price on Request,NaN,Super Built up area 2354(218.69 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,NaN,"Sector 95 Gurgaon, Gurgaon, Haryana",Ground of 3 Floors,North,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","North facing entry, Very good layout, Excellen...",[],"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Management4 out of 5', 'Green Area4 out of 5..."

In [26]:
#1) some column has Price on Request insteed of price means not specified price
# so we will remove these rows beacuse price is our target column in our model
df = df[df['price']!='Price on Request']

In [29]:
# price
# 1) some prices in column and some price in lakh
def treet_price(x):
  if type(x) == float:
    return x
  else:
    if x[1] == 'Lac':
      return round(float(x[0])/100,2)
    else:
      return round(float(x[0]),2)

In [31]:
df['price'] = df['price'].str.split(' ').apply(treet_price)

In [33]:
df.head()
df.shape

(2997, 18)

In [ ]:
df['price_per_sqft'].value_counts()

In [42]:
# price_per_sqft has ₹ , ',' , / , sq.ft we have to clean it

df['price_per_sqft'] = df['price_per_sqft'].str.split('/').str.get(0).str.split(' ').str.get(1).str.replace(',','').str.strip().astype(float)

In [45]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [46]:
# bedroom column
df['bedRoom'].value_counts()

bedRoom
3 Bedrooms    1437
2 Bedrooms     944
4 Bedrooms     478
1 Bedroom      104
5 Bedrooms      31
6 Bedrooms       3
Name: count, dtype: int64

In [49]:
df['bedRoom'].isnull().sum()

np.int64(0)

In [51]:
df['bedRoom'] = df['bedRoom'].str.strip().str.split(' ').str.get(0).astype(int)

In [52]:
# bathroom
df['bathroom'].value_counts()

bathroom
2 Bathrooms    1044
3 Bathrooms     989
4 Bathrooms     636
5 Bathrooms     169
1 Bathroom      112
6 Bathrooms      42
7 Bathrooms       5
Name: count, dtype: int64

In [53]:
df['bathroom'].isnull().sum()

np.int64(0)

In [55]:
df['bathroom'] = df['bathroom'].str.strip().str.split(' ').str.get(0).astype(int)

In [56]:
# balcony
df['balcony'].value_counts()

balcony
3 Balconies     974
3+ Balconies    862
2 Balconies     749
1 Balcony       315
No Balcony       97
Name: count, dtype: int64

In [57]:
df['balcony'].isnull().sum()

np.int64(0)

In [60]:
df['balcony'] = df['balcony'].str.strip().str.split(' ').str.get(0).str.replace('No' , '0')

In [61]:
# addition room
df['additionalRoom'].value_counts()

additionalRoom
Servant Room                                     629
Study Room                                       232
Others                                           179
Pooja Room                                       132
Study Room,Servant Room                           81
Store Room                                        76
Pooja Room,Servant Room                           60
Servant Room,Others                               52
Servant Room,Pooja Room                           30
Study Room,Others                                 27
Pooja Room,Study Room,Servant Room,Others         25
Pooja Room,Study Room,Servant Room                24
Servant Room,Store Room                           19
Pooja Room,Study Room                             13
Pooja Room,Study Room,Servant Room,Store Room     12
Servant Room,Study Room                            8
Study Room,Pooja Room                              8
Study Room,Servant Room,Store Room                 7
Pooja Room,Servant Room,Others                     6
Servant Room,Study Room,Pooja Room,Store Room      6
Pooja Room,Store Room                              6
Others,Servant Room                                6
Pooja Room,Others                                  6
Study Room,Servant Room,Others                     5
Pooja Room,Study Room,Store Room                   4
Pooja Room,Store Room,Study Room,Servant Room      4
Study Room,Pooja Room,Store Room                   3
Store Room,Servant Room                            3
Servant Room,Pooja Room,Study Room,Store Room      3
Servant Room,Others,Pooja Room                     2
Study Room,Servant Room,Pooja Room,Store Room      2
Servant Room,Study Room,Store Room                 2
Study Room,Pooja Room,Servant Room                 2
Servant Room,Others,Store Room,Pooja Room          2
Pooja Room,Study Room,Others                       2
Store Room,Pooja Room,Servant Room                 1
Pooja Room,Study Room,Store Room,Servant Room      1
Pooja Room,Servant Room,Study Room,Store Room      1
Servant Room,Pooja Room,Store Room                 1
Study Room,Servant Room,Store Room,Pooja Room      1
Study Room,Servant Room,Pooja Room                 1
Servant Room,Pooja Room,Store Room,Study Room      1
Study Room,Store Room                              1
Store Room,Study Room                              1
Servant Room,Pooja Room,Study Room                 1
Servant Room,Study Room,Pooja Room                 1
Others,Study Room                                  1
Servant Room,Study Room,Others                     1
Store Room,Pooja Room                              1
Name: count, dtype: int64

In [62]:
df['additionalRoom'].value_counts().shape

(49,)

In [63]:
df['additionalRoom'].isnull().sum()

np.int64(1305)

In [64]:
df['additionalRoom'].fillna('not available' , inplace = True)

In [65]:
df['additionalRoom'] = df['additionalRoom'].str.strip().str.lower()

In [67]:
df['additionalRoom'].value_counts().shape

(50,)

In [68]:
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [69]:
# floorNum
df['floorNum'].value_counts()

floorNum
2nd   of 4 Floors           74
3rd   of 4 Floors           71
4th   of 4 Floors           62
1st   of 4 Floors           61
12nd   of 14 Floors         49
14th   of 14 Floors         48
Ground of 14 Floors         40
10th   of 14 Floors         35
7th   of 14 Floors          35
8th   of 14 Floors          34
4th   of 14 Floors          28
6th   of 14 Floors          27
2nd   of 2 Floors           26
1st   of 14 Floors          26
3rd   of 3 Floors           26
8th   of 19 Floors          24
5th   of 14 Floors          24
3rd   of 14 Floors          24
1st   of 1 Floors           23
9th   of 9 Floors           23
9th   of 14 Floors          23
11st   of 14 Floors         23
2nd   of 3 Floors           22
5th   of 12 Floors          22
2nd   of 14 Floors          21
8th   of 18 Floors          20
10th   of 19 Floors         18
6th   of 18 Floors          18
7th   of 15 Floors          17
Ground of 1 Floors          17
7th   of 18 Floors          17
10th   of 18 Floors         17
12nd   of 12 Floors         17
9th   of 13 Floors          17
5th   of 15 Floors          16
3rd   of 18 Floors          16
2nd   of 12 Floors          15
6th   of 12 Floors          15
9th   of 15 Floors          15
1st   of 3 Floors           15
6th   of 19 Floors          14
1st   of 2 Floors           13
10th   of 26 Floors         13
3rd   of 13 Floors          13
6th   of 10 Floors          13
5th   of 5 Floors           13
Ground of 4 Floors          13
7th   of 7 Floors           13
10th   of 10 Floors         12
6th   of 15 Floors          12
8th   of 12 Floors          11
16th   of 19 Floors         11
8th   of 8 Floors           11
9th   of 26 Floors          11
15th   of 19 Floors         11
11st   of 18 Floors         11
9th   of 24 Floors          11
17th   of 17 Floors         11
4th   of 10 Floors          11
6th   of 6 Floors           11
4th   of 13 Floors          11
4th   of 12 Floors          10
6th   of 13 Floors          10
3rd   of 5 Floors           10
7th   of 26 Floors          10
2nd   of 19 Floors          10
7th   of 13 Floors          10
1st   of 26 Floors          10
10th   of 12 Floors         10
7th   of 21 Floors          10
12nd   of 18 Floors         10
4th   of 15 Floors          10
3rd   of 9 Floors           10
15th   of 29 Floors          9
3rd   of 12 Floors           9
8th   of 22 Floors           9
18th   of 19 Floors          9
14th   of 19 Floors          9
9th   of 20 Floors           9
13rd   of 14 Floors          9
8th   of 15 Floors           9
7th   of 17 Floors           9
14th   of 15 Floors          9
12nd   of 17 Floors          9
5th   of 18 Floors           9
6th   of 26 Floors           9
7th   of 12 Floors           9
6th   of 16 Floors           9
3rd   of 15 Floors           8
9th   of 18 Floors           8
5th   of 13 Floors           8
3rd   of 19 Floors           8
1st   of 19 Floors           8
12nd   of 24 Floors          8
8th   of 24 Floors           8
9th   of 12 Floors           8
2nd   of 15 Floors           8
12nd   of 26 Floors          8
10th   of 13 Floors          8
8th   of 26 Floors           8
8th   of 13 Floors           8
12nd   of 19 Floors          8
10th   of 17 Floors          8
4th   of 26 Floors           8
2nd   of 5 Floors            8
2nd   of 8 Floors            8
5th   of 9 Floors            8
14th   of 24 Floors          8
2nd   of 10 Floors           7
13rd   of 13 Floors          7
8th   of 21 Floors           7
7th   of 19 Floors           7
12nd   of 15 Floors          7
9th   of 19 Floors           7
5th   of 29 Floors           7
11st   of 24 Floors          7
2nd   of 13 Floors           7
16th   of 16 Floors          7
8th   of 10 Floors           7
12nd   of 13 Floors          7
1st   of 13 Floors           7
4th   of 19 Floors           7
2nd   of 17 Floors           7
11st   of 11 Floors          7
5th   of 20 Floors           7
11st   of 13 Floors          7
10th   of 21 Floors          7
11st   of 26 Floors          7
5th   of 10 Floors           6
Ground of 15 Floors          6
4th   of 17 Floors           6
11st   of 12 Floors          6
7th   of 20 Floors           6
16th   of 18 Floors          6
5th   of 25 Floors           6
5th   of 22 Floors           6
14th   of 27 Floors          6
12nd   of 22 Floors          6
Ground of 16 Floors          6
17th   of 19 Floors          6
1st   of 10 Floors           6
2nd   of 20 Floors           6
10th   of 15 Floors          6
19th   of 19 Floors          6
15th   of 15 Floors          6
10th   of 20 Floors          6
3rd   of 25 Floors           6
11st   of 19 Floors          6
Ground of 3 Floors           6
6th   of 9 Floors            6
1st   of 5 Floors            6
10th   of 29 Floors          6
4th   of 18 Floors           6
9th   of 30 Floors           5
9th   of 11 Floors           5
12nd   of 21 Floors          5
14th   of 16 Floors          5
4th   of 27 Floors           5
Ground of 19 Floors          5
10th   of 24 Floors          5
Ground of 12 Floors          5
15th   of 21 Floors          5
1st   of 15 Floors           5
18th   of 29 Floors          5
10th   of 27 Floors          5
7th   of 8 Floors            5
15th   of 18 Floors          5
8th   of 9 Floors            5
6th   of 11 Floors           5
4th   of 9 Floors            5
11st   of 25 Floors          5
6th   of 20 Floors           5
16th   of 26 Floors          5
8th   of 30 Floors           5
10th   of 25 Floors          5
15th   of 28 Floors          5
12nd   of 29 Floors          5
1st   of 12 Floors           5
11st   of 16 Floors          5
11st   of 29 Floors          5
Ground of 21 Floors          5
7th   of 27 Floors           5
11st   of 30 Floors          5
14th   of 29 Floors          5
5th   of 19 Floors           5
1st   of 7 Floors            5
4th   of 22 Floors           5
6th   of 17 Floors           5
9th   of 22 Floors           5
3rd   of 20 Floors           5
5th   of 8 Floors            5
3rd   of 10 Floors           4
3rd   of 17 Floors           4
14th   of 21 Floors          4
3rd   of 22 Floors           4
7th   of 10 Floors           4
18th   of 32 Floors          4
15th   of 32 Floors          4
19th   of 40 Floors          4
11st   of 20 Floors          4
14th   of 18 Floors          4
23rd   of 26 Floors          4
11st   of 17 Floors          4
7th   of 11 Floors           4
13rd   of 19 Floors          4
17th   of 25 Floors          4
8th   of 16 Floors           4
20th   of 26 Floors          4
19th   of 24 Floors          4
13rd   of 21 Floors          4
Ground of 13 Floors          4
5th   of 24 Floors           4
8th   of 20 Floors           4
25th   of 25 Floors          4
17th   of 26 Floors          4
2nd   of 16 Floors           4
20th   of 20 Floors          4
2nd   of 11 Floors           4
11st   of 15 Floors          4
5th   of 16 Floors           4
2nd   of 9 Floors            4
17th   of 18 Floors          4
6th   of 30 Floors           4
5th   of 23 Floors           4
Ground of 17 Floors          4
3rd   of 11 Floors           4
22nd   of 30 Floors          4
22nd   of 24 Floors          4
14th   of 17 Floors          4
15th   of 23 Floors          4
1st   of 18 Floors           4
7th   of 9 Floors            4
17th   of 24 Floors          4
15th   of 16 Floors          4
14th   of 26 Floors          4
15th   of 25 Floors          4
12nd   of 16 Floors          4
4th   of 8 Floors            4
13rd   of 25 Floors          4
7th   of 24 Floors           4
15th   of 26 Floors          4
9th   of 10 Floors           4
12nd   of 30 Floors          4
6th   of 22 Floors           3
7th   of 23 Floors           3
8th   of 11 Floors           3
16th   of 20 Floors          3
26th   of 30 Floors          3
13rd   of 15 Floors          3
9th   of 16 Floors           3
10th   of 30 Floors          3
6th   of 24 Floors           3
1st   of 25 Floors           3
5th   of 30 Floors           3
12nd   of 27 Floors          3
18th   of 18 Floors          3
15th   of 40 Floors          3
15th   of 22 Floors          3
3rd   of 8 Floors            3
9th   of 40 Floors           3
31st   of 32 Floors          3
1st   of 11 Floors           3
3rd   of 26 Floors           3
6th   of 23 Floors           3
6th   of 29 Floors           3
18th   of 26 Floors          3
23rd   of 23 Floors          3
21st   of 22 Floors          3
4th   of 16 Floors           3
11st   of 27 Floors          3
2nd   of 22 Floors           3
10th   of 23 Floors          3
6th   of 21 Floors           3
14th   of 32 Floors          3
4th   of 21 Floors           3
21st   of 24 Floors          3
30th   of 32 Floors          3
24th   of 24 Floors          3
5th   of 17 Floors           3
19th   of 21 Floors          3
12nd   of 23 Floors          3
5th   of 26 Floors           3
20th   of 28 Floors          3
Ground of 26 Floors          3
15th   of 20 Floors          3
3rd   of 16 Floors           3
17th   of 30 Floors          3
10th   of 16 Floors          3
8th   of 17 Floors           3
2nd   of 26 Floors           3
9th   of 21 Floors           3
19th   of 29 Floors          3
Ground of 18 Floors          3
8th   of 25 Floors           3
15th   of 39 Floors          3
6th   of 8 Floors            3
8th   of 40 Floors           3
18th   of 30 Floors          3
1st   of 35 Floors           3
4th   of 29 Floors           3
17th   of 29 Floors          3
17th   of 20 Floors          3
4th   of 20 Floors           3
10th   of 28 Floors          3
19th   of 30 Floors          3
27th   of 27 Floors          3
1st   of 17 Floors           2
3rd   of 33 Floors           2
18th   of 21 Floors          2
14th   of 28 Floors          2
16th   of 32 Floors          2
16th   of 27 Floors          2
16th   of 24 Floors          2
2nd   of 6 Floors            2
19th   of 27 Floors          2
7th   of 30 Floors           2
13rd   of 30 Floors          2
10th   of 40 Floors          2
13rd   of 20 Floors          2
2nd   of 28 Floors           2
15th   of 31 Floors          2
27th   of 29 Floors          2
24th   of 30 Floors          2
Ground of 23 Floors          2
4th   of 11 Floors           2
9th   of 29 Floors           2
19th   of 20 Floors          2
2nd   of 24 Floors           2
14th   of 20 Floors          2
43   of 47 Floors            2
1st   of 22 Floors           2
16th   of 30 Floors          2
25th   of 29 Floors          2
23rd   of 29 Floors          2
20th   of 23 Floors          2
9th   of 17 Floors           2
11st   of 23 Floors          2
8th   of 23 Floors           2
8th   of 29 Floors           2
3rd   of 32 Floors           2
10th   of 32 Floors          2
2nd   of 7 Floors            2
4th   of 5 Floors            2
Ground of 51 Floors          2
28th   of 30 Floors          2
7th   of 16 Floors           2
17th   of 23 Floors          2
4th   of 7 Floors            2
15th   of 24 Floors          2
13rd   of 40 Floors          2
8th   of 34 Floors           2
25th   of 30 Floors          2
16th   of 21 Floors          2
7th   of 29 Floors           2
8th   of 32 Floors           2
6th   of 31 Floors           2
12nd   of 25 Floors          2
1st   of 24 Floors           2
39th   of 40 Floors          2
9th   of 28 Floors           2
16th   of 34 Floors          2
10th   of 22 Floors          2
7th   of 36 Floors           2
3rd   of 24 Floors           2
2nd   of 18 Floors           2
2nd   of 40 Floors           2
3rd   of 27 Floors           2
2nd   of 21 Floors           2
10th   of 11 Floors          2
2nd   of 25 Floors           2
1st   of 20 Floors           2
1st   of 30 Floors           2
22nd   of 25 Floors          2
1st   of 8 Floors            2
23rd   of 34 Floors          2
18th   of 24 Floors          2
Lower Ground of 4 Floors     2
4th   of 34 Floors           2
20th   of 25 Floors          2
7th   of 22 Floors           2
3rd   of 29 Floors           2
11st   of 21 Floors          2
8th   of 28 Floors           2
21st   of 27 Floors          2
2nd   of 32 Floors           2
15th   of 17 Floors          2
9th   of 27 Floors           2
20th   of 22 Floors          2
1st   of 16 Floors           2
16th   of 36 Floors          2
5th   of 11 Floors           2
40th   of 40 Floors          2
15th   of 45 Floors          2
17th   of 33 Floors          2
31st   of 40 Floors          1
18th   of 20 Floors          1
3rd   of 31 Floors           1
27th   of 30 Floors          1
34th   of 34 Floors          1
5th   of 36 Floors           1
18th   of 35 Floors          1
17th   of 31 Floors          1
21st   of 23 Floors          1
Ground of 5 Floors           1
Ground of 6 Floors           1
Basement of 13 Floors        1
18th   of 22 Floors          1
17th   of 22 Floors          1
24th   of 36 Floors          1
3rd   of 36 Floors           1
5th   of 6 Floors            1
8th   of 35 Floors           1
Lower Ground of 1 Floors     1
5th   of 35 Floors           1
Ground of 2 Floors           1
10th   of 33 Floors          1
13rd   of 47 Floors          1
34th   of 42 Floors          1
17th   of 21 Floors          1
4th   of 39 Floors           1
24th   of 32 Floors          1
20th   of 34 Floors          1
16th   of 22 Floors          1
18th   of 25 Floors          1
23rd   of 28 Floors          1
8th   of 27 Floors           1
28th   of 29 Floors          1
15th   of 27 Floors          1
11st   of 22 Floors          1
Ground of 11 Floors          1
20th   of 47 Floors          1
27th   of 48 Floors          1
6th   of 7 Floors            1
35th   of 51 Floors          1
22nd   of 28 Floors          1
11st   of 36 Floors          1
28th   of 28 Floors          1
Basement of 4 Floors         1
2nd   of 34 Floors           1
4th   of 40 Floors           1
3rd   of 40 Floors           1
20th   of 32 Floors          1
Basement of 28 Floors        1
19th   of 41 Floors          1
19th   of 26 Floors          1
2nd   of 27 Floors           1
14th   of 51 Floors          1
19th   of 39 Floors          1
12nd   of 39 Floors          1
38th   of 40 Floors          1
18th   of 40 Floors          1
6th   of 25 Floors           1
16th   of 25 Floors          1
4th   of 28 Floors           1
7th   of 32 Floors           1
30th   of 40 Floors          1
4th   of 25 Floors           1
19th   of 23 Floors          1
5th   of 27 Floors           1
24th   of 39 Floors          1
20th   of 30 Floors          1
18th   of 51 Floors          1
24th   of 27 Floors          1
19th   of 22 Floors          1
8th   of 31 Floors           1
33rd   of 48 Floors          1
35th   of 35 Floors          1
26th   of 47 Floors          1
Ground of 24 Floors          1
7th   of 25 Floors           1
20th   of 43 Floors          1
21st   of 51 Floors          1
12nd   of 28 Floors          1
10th   of 34 Floors          1
18th   of 23 Floors          1
12nd   of 32 Floors          1
23rd   of 40 Floors          1
5th   of 32 Floors           1
1st   of 9 Floors            1
3rd   of 6 Floors            1
20th   of 40 Floors          1
9th   of 42 Floors           1
10th   of 51 Floors          1
15th   of 30 Floors          1
21st   of 41 Floors          1
32nd   of 32 Floors          1
8th   of 42 Floors           1
26th   of 34 Floors          1
21st   of 29 Floors          1
20th   of 29 Floors          1
13rd   of 18 Floors          1
7th   of 34 Floors           1
10th   of 39 Floors          1
21st   of 26 Floors          1
1st   of 44 Floors           1
7th   of 42 Floors           1
25th   of 36 Floors          1
21st   of 28 Floors          1
14th   of 22 Floors          1
33rd   of 42 Floors          1
2nd   of 36 Floors           1
19th   of 31 Floors          1
16th   of 51 Floors          1
29th   of 31 Floors          1
22nd   of 40 Floors          1
16th   of 41 Floors          1
7th   of 40 Floors           1
12nd   of 40 Floors          1
3rd   of 28 Floors           1
17th   of 28 Floors          1
3rd   of 30 Floors           1
19th   of 32 Floors          1
16th   of 45 Floors          1
22nd   of 23 Floors          1
7th   of 28 Floors           1
21st   of 36 Floors          1
14th   of 41 Floors          1
Ground of 29 Floors          1
22nd   of 26 Floors          1
32nd   of 55 Floors          1
Ground of 40 Floors          1
13rd   of 22 Floors          1
16th   of 35 Floors          1
44   of 47 Floors            1
23rd   of 24 Floors          1
17th   of 47 Floors          1
4th   of 6 Floors            1
30th   of 34 Floors          1
24th   of 31 Floors          1
24th   of 51 Floors          1
29th   of 29 Floors          1
16th   of 31 Floors          1
5th   of 21 Floors           1
12nd   of 34 Floors          1
5th   of 34 Floors           1
9th   of 25 Floors           1
45   of 47 Floors            1
Ground of 25 Floors          1
9th   of 23 Floors           1
33rd   of 33 Floors          1
1st   of 6 Floors            1
20th   of 24 Floors          1
13rd   of 17 Floors          1
29th   of 39 Floors          1
13rd   of 26 Floors          1
14th   of 25 Floors          1
3rd   of 7 Floors            1
Ground of 22 Floors          1
13rd   of 34 Floors          1
23rd   of 36 Floors          1
Name: count, dtype: int64

In [70]:
df['floorNum'].isnull().sum()

np.int64(2)

In [72]:
df[df['floorNum'].isnull()]

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
181,3 BHK Flat in Dwarka Expressway Gurgaon,experion heartsong,1.08,6150.0,Built Up area: 1758 (163.32 sq.m.),3,3,0,not available,"604, Tower B-3, 6th Floor,Sector 108, Dwarka E...",NaN,NaN,Under Construction,NaN,A property by one of the most reputed builders...,[],NaN,NaN
2766,2 BHK Flat in Sector 78 Gurgaon,nan,0.60,3692.0,Built Up area: 1625 (150.97 sq.m.),2,2,0,not available,"Gurgaon, Sector 78 Gurgaon, Gurgaon, Haryana",NaN,NaN,Under Construction,NaN,The property is under construction it's by rah...,[],NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."

In [76]:
df['floorNum'] = df['floorNum'].str.strip().str.split(' ').str.get(0).str.replace('Ground' , '0').str.replace('Basement' , '-1').str.replace('Lower' , '0').str.extract(r'(\d+)')

In [77]:
# facing column
df['facing'].value_counts()

facing
North-East    505
East          490
North         301
South         203
West          183
North-West    162
South-East    144
South-West    135
Name: count, dtype: int64

In [78]:
df['facing'].isnull().sum()

np.int64(874)

In [79]:
df['facing'].fillna('NA' , inplace=True)

In [80]:
df['facing'].value_counts()

facing
NA            874
North-East    505
East          490
North         301
South         203
West          183
North-West    162
South-East    144
South-West    135
Name: count, dtype: int64

In [83]:
# 1 feature can be make using price and price/sq feet column  builtup area = total area
df.insert(loc = 4 , column = 'area' ,  value = round((df['price'] * 10000000)/(df['price_per_sqft'])))

In [85]:
df.insert(loc = 1 , column = 'Property_type' , value = 'flat')

In [86]:
df.head()

,property_name,Property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12,NA,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2,NA,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,flat,parkwood westend,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5,NA,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2997 entries, 0 to 3007
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    2997 non-null   object
 1   Property_type    2997 non-null   object
 2   society          2997 non-null   object
 3   price            2996 non-null   float64
 4   price_per_sqft   2996 non-null   float64
 5   area             2996 non-null   float64
 6   areaWithType     2997 non-null   object
 7   bedRoom          2997 non-null   int64
 8   bathroom         2997 non-null   int64
 9   balcony          2997 non-null   object
 10  additionalRoom   2997 non-null   object
 11  address          2991 non-null   object
 12  floorNum         2995 non-null   object
 13  facing           2997 non-null   object
 14  agePossession    2996 non-null   object
 15  nearbyLocations  2906 non-null   object
 16  description      2997 non-null   object
 17  furnishDetails   2200 non-null   object
 18  features         2590 non-null   object
 19  rating           2668 non-null   object
dtypes: float64(3), int64(2), object(15)
memory usage: 491.7+ KB

In [88]:
df.shape

(2997, 20)

In [89]:
df.to_csv('cleaned_flats_data.csv' , index = False)